<h1>This is the about page</h1>

<%= link_to 'Home', root_path %>


<h1 id="JONSON" style="background-color: blue; color: red; border: 1px solid red; border-radius: 5px; padding-left: 2%; margin-top: 20%;">JONSON JANIK JANETAAAAAA</h1>

<input type="text" name="" >
<button>CLICK!!</button>
<input type="password" name="">
<button>Submit</button>
<input type="email" name="">
<button>Submit</button>